$black: black;
$white: white;
$gray-border: #E0DEDE;
$gray-hover: #F2F2F2;
$dark-gray-hover: #E9E9EA;
$gray-text: #808b96;

$text-color: #333;
$background-main: #f2f2f3;
$background-2: #f9f9f9;

$blue: #007bff;

$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);